---
layout: content-layout.njk
title: "Projects"
---
<div class="content-image">
    <img src="/images/MaddoScientisto.gif">
    <div class="content-image-caption">The Future Gadgets developed by insane mad scientist Hououin Kyouma!</div>
</div>



<div class="projects-table">
    <table>
        <tr>
            <th>Project Name</th>
            <th>Description</th>
            <th>Source Code</th>
            <th>Images</th>
        </tr>
        <tr>
            <td><b><a href='https://hellblaze.vargur.dev/'>Hellblaze</a></b></td>
            <td>
                <p>
                    HellBlaze is a randomiser for the game Helldivers 2. I made this because the game was getting
                    a bit too easy when I was able to pick anything I wanted for a mission. Yet at the same time, I would feel
                    like I was missing out when purposely picking bad stratagems.
                </p>
                <p>
                    HellBlaze solves that with a randomiser that also features great customisation and the ability to mix up the
                    types of stratagem that you bring. The War Crime Wednesday preset, for example, maxes out gas, mines, and napalm/fire weapons.
                </p>
                <p>
                    More info is available on Github so go check it out :)
                </p>
            </td>
            <td><a href="https://github.com/janLalawa/Hellblaze">Github</a></td>
            <td><img src="/images/prj/hellblaze1.png" alt="Hellblaze screenshot">
                <img src="/images/prj/hellblaze2.png" alt="Hellblaze OG image screenshot"></td>
        </tr>
        <tr>
            <td><b><a href="https://vargur.dev/code/zkillboard-3d-br-viewer/">ZKillboard BR Viewer</a></b></td>
            <td>
                <p>
                    The ZKillboard Battle Report Viewer (or pyBattleVis) is a tool that pulls data from Zkillboard
                    (an EVE Online killboard) and displays it in a 3D environment. It can be used to see what a battle
                    generally looked like years after it happened by mapping out the ship wrecks in space
                </p>
                <p>
                    I created this tool based on inspiration from an old Polish friend who made something similar in C++.
                    If I were to build it again, I think I'd use a real graphics engine rather than my own custom one
                    based on a tutorial.
                </p>
                <p>
                    This was very much a learning experience, and the end result is super fun to play with.
                </p>
            </td>
            <td><a href="https://github.com/janLalawa/pyBattleVis">GitHub</a></td>
            <td>
                <img src="/images/prj/pybattlevis1.png" alt="ZKillboard BR Viewer screenshot">
                <img src="/images/prj/pyBattleVis2.jpg" alt="ZKillboard BR Viewer screenshot">
            </td>
        </tr>
        <tr>
            <td><b>Rogue Gambit</b></td>
            <td>
                <p>
                    Rogue Gambit is/was a little chess game that I've been developing in Godot. Again, it's something of
                    a learning exercise, but the real goal was to create something to host on Steam.
                </p>
                <p>
                    The idea was to mix Balatro with Chess to make a crazy chess game where pieces have all sorts of special
                    moves. I have the beginnings of a chess engine in there, too, but for now the project is on hold.
                </p>
                <p>
                    The most interesting part of this project is probably having had to design a custom piece move system
                    that supports my concept of 'chained moves.' Since I managed to make it work and I managed to get the
                    AI to beat me, I consider this project a success already anyway :D
                </p>
            </td>
            <td><a href="https://github.com/janLalawa/RogueGambit">GitHub</a></td>
            <td>
                <img src="/images/prj/gambit1.png" alt="Rogue Gambit screenshot">
                <img src="/images/prj/gambit2.png" alt="Rogue Gambit screenshot">
            </td>
        </tr>
        <tr>
            <td><b><a href="https://ashy.vargur.dev">Ashy in Space</a></b></td>
            <td>
                <p>
                    Ashy in Space was my blog for a long time in EVE Online. I've left that game behind now, but this blog
                    was very popular for a long time!
                </p>
                <p>
                    As much as I eventually became quite bitter about EVE, running Foxholers and making this site taught
                    me so much about life, running a team, and dealing with people. Have a read of the articles if you like.
                </p>
            </td>
            <td>N/A</td>
            <td>
                <img src="/images/prj/ashyinspace.jpeg" alt="Ashy in Space screenshot">
            </td>
        </tr>
        <tr>
            <td><b><a href="https://ashy.vargur.dev/jukebox.html">Classic EVE Jukebox</a></b></td>
            <td>
                <p>
                    The EVE jukebox was a really fun project that I worked on with an old friend.
                    It's fully functional and was designed to look exactly like EVE's old UI.
                </p>
                <p>
                    Curiously, the player itself is built with Elm. It's curious, and I don't care to learn it to be
                    honest. I only handled styling and hosting on this one.
                </p>
            </td>
            <td><a href="https://github.com/MalmarPadecain/EVE_Jukebox">Github</a></td>
            <td>
                <img src="/images/prj/jukebox.jpeg" alt="Classic EVE Jukebox screenshot">
            </td>
        </tr>
        <tr>
            <td><b>Hammer of Math</b></td>
            <td>
                <p>
                    Hammer of Math is a simple Warhammer 40k 10th Edition tool that can calculate results from battles.
                    It intentionally rolls actual dice rolls rather than using statistics because that feels more... real.
                </p>
                <p>
                    This one is a little unfinished as I had wanted to rewrite it in a faster language than Python. I just never really got around to that.
                </p>
            </td>
            <td><a href="https://github.com/janLalawa/hammer-of-math">Github</a></td>
            <td>
                <img src="/images/prj/hammerofmath.png" alt="Hammer of Math screenshot">
            </td>
        </tr>
        <tr>
            <td><b>Firefox MauveWolf</b></td>
            <td>
                <p>
                    MauveWolf is some Firefox userchrome that I was really quite happy with! It's styled after Catppuccin and brings
                    tree-style tabs and some other neat features.
                </p>
                <p>
                    It probably needs an update to use built in vanilla Firefox tree style tabs now, but I still just use it as is.
                </p>
            </td>
            <td><a href="https://github.com/janLalawa/MauveWolf">Github</a></td>
            <td>
                <img src="/images/prj/screenshot-firefox1.png" alt="Firefox MauveWolf screenshot">
            </td>
        </tr>
    </table>

    <br/>
    <div>
        If you enjoyed this page, go ahead and check out my Github. Maybe I forgot to update this list? :D
    </div>
</div>

<div class="content-image">
    <img src="/images/foxaward.gif">
</div>

